<section class="bgwhite p-t-70 p-b-40">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-4 p-b-30 m-lr-auto">
                <!-- Block 1 -->
                <div class="block-1">
                    <div class="wrap-pic-b1 wrap-pic-w">
                        <img src="assets/images/featured-01.jpg" alt="IMG-FEATURE">
                    </div>

                   
                </div>
            </div>

            <div class="col-sm-9 col-md-7 col-lg-4 p-b-30 m-lr-auto">
                <!-- Block 1 -->
                <div class="block-1">
                    <div class="wrap-pic-b1 wrap-pic-w">
                        <img src="assets/images/featured-02.jfif" alt="IMG-FEATURE">
                    </div>

                    
                </div>
            </div>

            <div class="col-sm-9 col-md-7 col-lg-4 p-b-30 m-lr-auto">
                <!-- Block 1 -->
                <div class="block-1">
                    <div class="wrap-pic-b1 wrap-pic-w">
                        <img src="assets/images/featured-03.jpg" alt="IMG-FEATURE">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Features -->
<section class="bg1 p-t-75 p-b-90 features">
    <div class="container">
        <div>
            <h3 class="m-txt4 txt-center p-b-8 respon1">
                CÁC CHỨC NĂNG
            </h3>

            <div class="bg-main size2 bo-rad-3 m-lr-auto"></div>
        </div>

        <div class="row">
            <div class="flex-str col-sm-6 col-lg-3 p-t-65">
                <!-- Block 2 -->
                <div class="block-2">
                    <div class="wrap-b2 p-t-60 p-b-30 p-l-19 p-r-19">
                        <div class="wrap-symbol-b2">	
                            <div class="symbol-1 rotate-symbol-1">
                                <i class="fa fa-film " aria-hidden="true"></i>
                            </div>
                        </div>

                        <h4 class="m-txt5 txt-center p-b-8">
                            Quản Lý Khoa
                        </h4>

                        <p class="s-txt2 txt-center">
                            Chức năng cho phép quản lý thông tin của khoa
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="flex-str col-sm-6 col-lg-3 p-t-65">
                <!-- Block 2 -->
                <div class="block-2">
                    <div class="wrap-b2 p-t-60 p-b-30 p-l-19 p-r-19">	
                        <div class="wrap-symbol-b2">	
                            <div class="symbol-1 rotate-symbol-1">
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                            </div>	
                        </div>

                        <h4 class="m-txt5 txt-center p-b-8">
                            Quản Lý Giáo Viên CHủ Nhiệm
                        </h4>

                        <p class="s-txt2 txt-center">
                            Chức năng cho phép quản lý thông tin của giáo viên chủ nhiệm
                        </p>
                    </div>
                </div>
            </div>

            <div class="flex-str col-sm-6 col-lg-3 p-t-65">
                <!-- Block 2 -->
                <div class="block-2">
                    <div class="wrap-b2 p-t-60 p-b-30 p-l-19 p-r-19">	
                        <div class="wrap-symbol-b2">	
                            <div class="symbol-1 rotate-symbol-1">
                                <i class="fa fa-car" aria-hidden="true"></i>
                            </div>	
                        </div>

                        <h4 class="m-txt5 txt-center p-b-8">
                            Quản Lý Lớp Học
                        </h4>

                        <p class="s-txt2 txt-center">
                            Chức năng cho phép quản lý thông tin của lớp học
                        </p>
                    </div>
                </div>
            </div>

            <div class="flex-str col-sm-6 col-lg-3 p-t-65">
                <!-- Block 2 -->
                <div class="block-2">
                    <div class="wrap-b2 p-t-60 p-b-30 p-l-19 p-r-19">	
                        <div class="wrap-symbol-b2">	
                            <div class="symbol-1 rotate-symbol-1">
                                <i class="fa fa-id-card-o" aria-hidden="true"></i>
                            </div>	
                        </div>

                        <h4 class="m-txt5 txt-center p-b-8">
                            Quản Lý Sinh Viên
                        </h4>

                        <p class="s-txt2 txt-center">
                            Chức năng cho phép quản lý thông tin của sinh viên
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial -->
<section class="testimonial">

</section>
