
<app-header></app-header>
<div class="container" style="">
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button routerLink="khoa"
            class="m-1 btn btn-light btn-outline-primary" Button>Khoa</button>
        </li>

        <li class="nav-item">
            <button routerLink="lophoc"
            class="m-1 btn btn-light btn-outline-primary" Button>Lớp Học</button>
        </li>
    </ul>
    </nav>
<router-outlet></router-outlet>
<app-main></app-main>
</div>
<app-footer></app-footer>